@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* COLOR CODES */
:root {
  --darkBlue: #2d314d;
  --limeGreen: #31d35c;
  --lightBlue: #2bb7da;
  --gray: #9698a6;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --veryLightGray: #fafafa;
  --gradientColor: linear-gradient(to right, #31d35c, #2bb7da);
}

body {
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

nav {
  padding: 1.5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  cursor: pointer;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.nav-list:hover {
  border-bottom: 2px solid var(--limeGreen);
  padding-bottom: 0.44rem;
}

.nav-btn {
  border: none;
  background: var(--gradientColor);
  padding: 0.82rem 0.88rem;
  border-radius: 1.3rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.nav-icon {
  width: 30px;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  display: none;
}

.close-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: none;
}

.mobile-menu {
  display: none;
}

.mobileNav-list {
  display: none;
}

/* HERO SECTION */

.hero-section {
  height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
=======
.hero-section{
  display: flex;
  width: 100%;
  /* height: 100vh; */

}
.hero-section .section-layout{
  display: flex;
  width: 100%;
  overflow: hidden;
  /* height: 100%; */
}
.hero-section .section-layout .banking{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5%;
}
.banking h1{
  font-size: 50px;
}
.banking span{
  font-size: 20px;
}
.banking .btn-btn{
  margin-top: 20px;
}
.banking .btn-btn button{
  width: 30%;
  height: 2.5rem;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
}
.banking .btn-btn button a{
  text-decoration: none;
  color: #fff;
}
.banking .btn-btn button a:hover{
  color: #000;
  transition: .3s all ease-in-out;
}
.mobile {
   width: 50%;
   display: flex;
   justify-content: flex-end;
   position: relative;
   
}
.mobile .mobile-img{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mobile img{
    position: absolute;
    height: 110%;
    width: 90%;
    left: 20%;
    top: -10%;
  
}


/* END OF HERO SECTION */
footer {
  background-color: var(--darkBlue);
  width: 100vw;
  display: flex;

  /* position: absolute;
  bottom: 0; */

  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.foot_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -80px;
}
.inner_foot_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.footer_logo {
  width: 110px;
}

.social {
  padding: 0px 25px 5px 0;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}
.social svg{
  margin-right: 10px;
}
.social svg:hover path{
  cursor: pointer;
  fill: var(--limeGreen);
}

.inner_foot_2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 80px;
}
.inner_foot_2 ul li {
  list-style: none;
  margin-top: 15px;
  font-size: 14px;
  font-weight: lighter;
}
.inner_foot_2 ul li a {
  text-decoration: none;
  color: var(--white);
}
.inner_foot_2 ul li a:hover {
  color: var(--limeGreen);
}
.foot_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--gray);
}
.btn2 {
  border: none;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  color: var(--white);
  background-color: #31d35c;
  background-image:var(--gradientColor);
}
.btn2:hover{
  cursor: pointer;
}
.copyright {
  margin-top: 20px;
  font-size: 14px;
}

/* MEDIA QUERY */

/* @media only screen and (max-width: 768px) {
  nav {
    padding: 1.4rem 2rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .close-icon.show {
    display: block;
  }

  .mobile-menu.show {
    display: block;
    position: fixed;
    margin: 5px auto;
    top: 5rem;
    width: 27rem;
    height: 15rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.077);
    border-radius: 0.48rem;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .mobile-menu .nav-list {
    border-bottom: none;
    padding-bottom: 0;
    color: var(--darkBlue);
  }

} */

}

/* WHY CHOOSE EASYBANK */
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px 40px 50px 140px;
  background-color: var(--lightGray);
  margin-top: 40px;
}
.why_easybank {
  text-align: start;
  margin-bottom: 50px;
}

.why_easybank .why_easybank_1 {
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 20px;
}

.why_easybank_2 {
  color: var(--gray);
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services_1,
.service_2,
.service_3,
.service_4 {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.services_img {
  width: 40px;
  margin-bottom: 20px;
}

.service_name {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 10px;
}

.desc {
  color: var(--gray);
}

