@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOR CODES */
:root {
  --darkBlue: #2d314d;
  --limeGreen: #31d35c;
  --lightBlue: #2bb7da;
  --gray: #9698a6;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --veryLightGray: #fafafa;
  --gradientColor: linear-gradient(to right, #31d35c, #2bb7da);
}

body {
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

nav {
  padding: 1.5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  cursor: pointer;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.nav-list:hover {
  border-bottom: 2px solid var(--limeGreen);
  padding-bottom: 0.44rem;
}

.nav-btn {
  border: none;
  background: var(--gradientColor);
  padding: 0.82rem 0.88rem;
  border-radius: 1.3rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.nav-icon {
  width: 30px;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  display: none;
}

.close-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: none;
}

.mobile-menu {
  display: none;
}

.mobileNav-list {
  display: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  nav {
    padding: 1.4rem 2rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .close-icon.show {
    display: block;
  }

  .mobile-menu.show {
    display: block;
    position: fixed;
    margin: 5px auto;
    top: 5rem;
    width: 27rem;
    height: 15rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.077);
    border-radius: 0.48rem;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .mobile-menu .nav-list {
    border-bottom: none;
    padding-bottom: 0;
    color: var(--darkBlue);
  }
}
