@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOR CODES */
:root {
  --darkBlue: #2d314d;
  --limeGreen: #31d35c;
  --lightBlue: #2bb7da;
  --gray: #9698a6;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --veryLightGray: #fafafa;
  --gradientColor: linear-gradient(to right, #31d35c, #2bb7da);
}

body {
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

nav {
  padding: 1.5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  cursor: pointer;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.nav-list:hover {
  border-bottom: 2px solid var(--limeGreen);
  padding-bottom: 0.44rem;
}

.nav-btn {
  border: none;
  background: var(--gradientColor);
  padding: 0.82rem 0.88rem;
  border-radius: 1.3rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.nav-icon {
  width: 30px;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  display: none;
}

.close-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: none;
}

.mobile-menu {
  display: none;
}

.mobileNav-list {
  display: none;
}

/* HERO SECTION */

.hero-section {
  height: 80vh;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  width: 100%;
}
.hero-section .section-layout {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  position: relative;
}
.hero-section .section-layout .banking {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 58px;
  padding-top: 65px;
}
.hero-section .section-layout .banking p {
  font-size: 16px;
  color: #9698a6;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 15px 0;
}

.hero-section .section-layout .banking h1 {
  font-size: 48px;
  font-weight: 400;
  color: var(--darkBlue);
  margin: 5px 0;
}

.hero-btn {
  border: none;
  background: var(--gradientColor);
  padding: 0.82rem 0.88rem;
  border-radius: 1.3rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.hero-section .section-layout .mobile {
  width: 40%;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  right: 0;
}
.mobile img {
  position: absolute;
  height: 110%;
  width: 90%;
  left: 20%;
  top: -10%;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 1100px;
    display: flex;
    width: 100%;
  }
  .hero-section .section-layout {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .hero-section .section-layout .mobile {
    order: 1;
    width: 100%;
    position: relative;
  }

  .mobile img {
    position: relative;
    width: 80%;
    left: 20%;
    top: -5rem;
  }

  .hero-section .section-layout .banking {
    order: 2;
    padding: 5%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .hero-section .section-layout .banking p {
    font-size: 16px;
    font-weight: 300;
    margin: 5px auto;
    text-align: center;
  }

  .hero-section .section-layout .banking h1 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
  }

  .hero-btn {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .hero-section .section-layout .mobile {
    order: 1;
    width: 120%;
  }
  .mobile img {
    width: 90%;
  }
}

/* END OF HERO SECTION */

/* WHY CHOOSE EASYBANK */
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px 40px 50px 140px;
  background-color: var(--lightGray);
  /* margin-top: 40px; */
}

.why_easybank {
  text-align: start;
  margin-bottom: 50px;
}

.why_easybank .why_easybank_1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--darkBlue);
}

.why_easybank_2 {
  color: var(--gray);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
}

.services_1,
.service_2,
.service_3,
.service_4 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  /* align-items: start; */

  align-items: start;
}

.services_img {
  width: 40px;
  margin-bottom: 20px;
  align-items: center;
}

.service_name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--darkBlue);
}

.desc {
  color: var(--gray);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4rem;
}

footer {
  background-color: #2d314d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  margin-top: 30px;
}
.foot_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_foot_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px 0px;
  cursor: pointer;
}

.footer_logo img {
  width: 120px;
}

.inner_words {
  font-weight: bolder;
  color: #ffffff;
  font-size: 18px;
  margin-left: -95px;
}

.social {
  padding: 15px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social_icon {
  width: 16px;
  margin-right: 2px;
  display: inlinblock;
  cursor: pointer;
}

.img_container:hover .social_icon {
  filter: invert(66%) sepia(92%) saturate(354%) hue-rotate(85deg)
    brightness(96%) contrast(92%);
}

.inner_foot_2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 80px;
}

.inner_foot_2 ul li {
  list-style: none;
  margin-top: 7px;
  font-size: 14px;
  font-weight: lighter;
}

.inner_foot_2 ul li a {
  text-decoration: none;
  color: #ffffff;
}

.inner_foot_2 ul li a:hover {
  color: #31d35c;
}

.foot_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #9698a6;
}

.btn2 {
  border: none;
  background: var(--gradientColor);
  padding: 1rem 0.88rem;
  border-radius: 1.5rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}

/* latest-articles */
.latest-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--veryLightGray);
  height: 100vh;
  font-family: "Public Sans", sans-serif;
}
.latest-articles h1 {
  color: var(--darkBlue);
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 35px;
}
.la-card {
  background-color: var(--white);
  width: 250px;
  border-radius: 7px;
}
.la-cardtext {
  padding: 12px;
  border-radius: 7px;
}
.la-ptxt1 {
  color: var(--gray);
  font-size: 13px;
}
.la-ptxt2 {
  font-size: 18px;
  color: var(--darkBlue);
  padding: 10px 0px 10px 0px;
}
.la-ptxt3 {
  color: var(--gray);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3rem;
}
.la-card img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.la-sect {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 20px;
}
.frsimg {
  height: 167px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 900px) {
  .la-sect {
    grid-template-columns: 250px 250px 250px;
  }
  .latest-articles {
    height: 100%;
    padding: 50px 0px 50px 0px;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 1.4rem 2rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .close-icon.show {
    display: block;
  }

  .mobile-menu.show {
    display: block;
    position: fixed;
    margin: 5px auto;
    top: 5rem;
    width: 27rem;
    height: 15rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.077);
    border-radius: 0.48rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }

  .mobile-menu {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .mobile-menu .nav-list {
    border-bottom: none;
    padding-bottom: 0;
    color: var(--darkBlue);
  }
  .la-sect {
    grid-template-columns: 250px 250px;
  }
  .latest-articles {
    height: 100%;
    padding: 50px 0px 50px 0px;
  }
  .foot_1 {
    display: grid;
  }
  footer {
    display: grid;
    text-align: center;
  }
  .foot_2 {
    margin-top: 20px;
  }
  .inner_foot_2 ul {
    align-items: center;
    margin-left: 0px;
  }
  .inner_foot_2 li {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .foot_1 {
    justify-content: center;
  }
  .social_icon {
    width: 23px;
  }

  .choose {
    padding: 30px 50px;
  }
}
@media only screen and (max-width: 500px) {
  .la-sect {
    grid-template-columns: 250px;
  }
  .latest-articles {
    height: 100%;
    padding: 50px 0px 50px 0px;
  }

  .choose {
    padding: 35px 50px;
  }

  .why_easybank {
    text-align: center;
    width: 100%;
  }

  .services {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .foot_1 {
    margin-left: 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inner_foot_1 {
    margin-bottom: 20px;
  }

  .social {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .inner_foot_2 ul {
    margin-left: 0;
    align-items: center;
  }

  .foot_2 {
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .foot_1 {
    margin-left: 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inner_foot_1 {
    margin-bottom: 20px;
  }

  .social {
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .inner_foot_2 ul {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .foot_2 {
    align-items: center;
    text-align: center;
  }
}

/* why choose us */
/* For tablets and larger smartphones (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
  .choose {
    padding: 30px 20px 30px 70px;
  }

  .services {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .services_img {
    width: 40px;
    margin-bottom: 20px;
    align-self: center; /* Aligning the image to the center */
  }

  .services_1,
  .service_2,
  .service_3,
  .service_4 {
    margin-right: 0;
    margin-bottom: 20px;
    width: 48%; /* Adjust width to fit two columns */
  }
}
/* For smartphones (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .choose {
    padding: 20px 10px 20px 30px;
    align-items: center;
    justify-content: center;
  }

  .why_easybank .why_easybank_1 {
    font-size: 22px;
  }

  .why_easybank_2 {
    font-size: 14px;
  }

  .services {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .services_1,
  .service_2,
  .service_3,
  .service_4 {
    margin-right: 0;
    margin-bottom: 15px;
    width: 90%;
  }

  .service_name {
    font-size: 16px;
    margin: 8px auto;
  }

  .desc {
    font-size: 14px;
  }
}

/* For small smartphones (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .choose {
    padding: 30px 5px 25px 20px;
    align-items: center;
    justify-content: center;
  }

  .why_easybank .why_easybank_1 {
    font-size: 22px;
  }

  .why_easybank_2 {
    font-size: 14px;
  }

  .services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .services_img {
    width: 40px;
    margin-bottom: 20px;
    align-self: center; /* Aligning the image to the center */
  }

  .services_1,
  .service_2,
  .service_3,
  .service_4 {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .service_name {
    font-size: 15px;
  }

  .desc {
    font-size: 13px;
  }
}

/* why choose us end */
