@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOR CODES */
:root {
  --darkBlue: #2d314d;
  --limeGreen: #31d35c;
  --lightBlue: #2bb7da;
  --gray: #9698a6;
  --white: #ffffff;
  --lightGray: #f3f4f6;
  --veryLightGray: #fafafa;
  --gradientColor: linear-gradient(to right, #31d35c, #2bb7da);
}

body {
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

nav {
  padding: 1.5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  cursor: pointer;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}

.nav-list:hover {
  border-bottom: 2px solid var(--limeGreen);
  padding-bottom: 0.44rem;
}

.nav-btn {
  border: none;
  background: var(--gradientColor);
  padding: 0.82rem 0.88rem;
  border-radius: 1.3rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}

.nav-icon {
  width: 30px;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  display: none;
}

.close-icon {
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: none;
}

.mobile-menu {
  display: none;
}

.mobileNav-list {
  display: none;
}

/* HERO SECTION */

.hero-section {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hero-section .section-layout {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  align-content: center;
  position: relative;
}
.hero-section .section-layout .banking {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 58px;
  padding-top: 65px;
}
.hero-section .section-layout .banking p {
  font-size: 15px;
  color: #9698a6;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 7px 0;
}

.hero-section .section-layout .banking h1 {
  font-size: 48px;
  font-weight: 400;
  color: var(--darkBlue);
  margin: 5px 0;
}
.hero-section .section-layout .banking .btn {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.btn button {
  width: 100%;
  border-radius: 27%;
  border: none;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
  color: var(--white);
}

.hero-section .section-layout .mobile {
  width: 40%;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  right: 0;
}
.hero-section .section-layout .mobile .image {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 50px;
}
.hero-section .section-layout .mobile .image img {
  width: 100%;
}
/* END OF HERO SECTION */
footer {
  background-color: #2d314d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.foot_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_foot_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px 0px;
  cursor: pointer;
}

.footer_logo img {
  width: 120px;
}

.inner_words {
  font-weight: bolder;
  color: #ffffff;
  font-size: 18px;
  margin-left: -95px;
}
.social {
  padding: 15px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}
.social_icon {
  width: 14px;
  margin-right: 2px;
  display: inlinblock;
}

.social_icon:hover {
  color: var(--limeGreen);
}
.img_container:hover {
  cursor: pointer;
  display: block;
  stroke: #31d35c;
}
.inner_foot_2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 80px;
}
.inner_foot_2 ul li {
  list-style: none;
  margin-top: 7px;
  font-size: 14px;
  font-weight: lighter;
}
.inner_foot_2 ul li a {
  text-decoration: none;
  color: #ffffff;
}
.inner_foot_2 ul li a:hover {
  color: #31d35c;
}
.foot_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #9698a6;
}
.btn {
  border: none;
  background: var(--gradientColor);
  padding: 1rem 0.88rem;
  border-radius: 1.5rem;
  cursor: pointer;
  color: white;
  width: 9rem;
}
.copyright {
  margin-top: 20px;
  font-size: 14px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  nav {
    padding: 1.4rem 2rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .close-icon.show {
    display: block;
  }

  .mobile-menu.show {
    display: block;
    position: fixed;
    margin: 5px auto;
    top: 5rem;
    width: 27rem;
    height: 15rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.077);
    border-radius: 0.48rem;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .mobile-menu .nav-list {
    border-bottom: none;
    padding-bottom: 0;
    color: var(--darkBlue);
  }
}

/* WHY CHOOSE EASYBANK */
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px 40px 50px 140px;
  background-color: var(--lightGray);
  margin-top: 40px;
}
.why_easybank {
  text-align: start;
  margin-bottom: 50px;
}

.why_easybank .why_easybank_1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--darkBlue);
}

.why_easybank_2 {
  color: var(--gray);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3rem;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services_1,
.service_2,
.service_3,
.service_4 {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.services_img {
  width: 40px;
  margin-bottom: 20px;
}

.service_name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--darkBlue);
}

.desc {
  color: var(--gray);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4rem;
}
